<ion-view view-title="KOK MIN" >
	<ion-content class="padding">
	<div class="list">
		<a class="item item-thumbnail-left" href="#">
			<img src="img/restaurant-1.jpg">
			<h2>Change Image</h2>
		</a>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Title</span>
			<input type="text" placeholder="Title" value="KOK MIN Cafe">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Description</span>
			<textarea placeholder="Description" >This is a short descriptioin to describe your restaurant</textarea>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Promotion</span>
			<textarea placeholder="Promotion (if any)" >Place your promotion here</textarea>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Contact Number</span>
			<input type="text" placeholder="Contact Number" value="016-xxxxxxx">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Address</span>
			<textarea placeholder="Address" >Street 123</textarea>
		</label>
	</div>
		<button class="button button-full button-calm" ng-click="showMyRestaurantModal()">
			Update Restaurant
		</button>
		<br/>
	</ion-content>
</ion-view>

<script id="myrestaurant.html" type="text/ng-template">
	<div class="modal">
		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">Where To Eat</h1>
			<button class="button button-clear button-positive" ng-click="closeMyRestaurantModal()">Cancel</button>						
		</ion-header-bar>
			
		<!-- Modal Content Area -->
		<ion-content>
			<div class="item item-text-wrap" padding="true">
				<h3>Would you like this restaurant to re-appear on the top of our news feed stack?</h3>
				<h3>Just buy us a coffee :)</h3>
			</div>
			
			<div class="padding">
				<div class="button-bar">
					<button class="button button-block button-positive" ng-click="updateRestaurant()">$0.99 only</button>
					<button class="button button-block button-positive" ng-click="updateRestaurant()">Cancel and Proceed</button>
				</div>
			</div>
		</ion-content>
	</div>
</script>