<ion-view view-title="Dashboard">
	<ion-content class="padding">
		<div class="card-wrap">
			<div class="card full-card">
					<a href="#/tab/selectRestaurant" class="subdued"><img src="img/download.jpg" alt=""/></a>
			</div>
			<p>
				This is a short description to describe your restaurant
			</p>
			<p>
				<a href="#" class="subdued">300 Like(s)</a>
				<a href="#" class="subdued">100 Comments</a>
			</p>
		</div>
		
		<hr>

		<div class="card-wrap">
			<div class="card full-card">
					<a href="#/tab/selectRestaurant" class="subdued"><img src="img/download.jpg" alt=""/></a>
			</div>
			<p>
				This is a short description to describe your restaurant
			</p>
			<p>
				<a href="#" class="subdued">300 Like(s)</a>
				<a href="#" class="subdued">100 Comments</a>
			</p>
		</div>
		
		<hr>
		
		<div class="card-wrap">
			<div class="card full-card">
					<a href="#/tab/selectRestaurant" class="subdued"><img src="img/download.jpg" alt=""/></a>
			</div>
			<p>
				This is a short description to describe your restaurant
			</p>
			<p>
				<a href="#" class="subdued">300 Like(s)</a>
				<a href="#" class="subdued">100 Comments</a>
			</p>
		</div>
	</ion-content>
</ion-view>
