<ion-view view-title="MyShelf" >
	<ion-content class="padding">
		<!--<div class="list">
			<a class="item item-thumbnail-left" href="#/tab/myrestaurant">
				<img src="img/restaurant-1.jpg">
				<h2>KOK MIN Cafe</h2>
				<p>Last Updated: </p>
				<p>4/4/2015 9:00am</p>
			</a>
			<a class="item item-thumbnail-left" href="#/tab/myrestaurant">
				<img src="img/restaurant-2.jpg">
				<h2>Subway</h2>
				<p>Last Updated: </p>
				<p>1/4/2015 9:00am</p>
				<p>{{$scope.myListOfRestaurants[0].contact}}</p>
			</a>
		</div>-->
		<div ng-repeat="myRestaurant in myListOfRestaurants">
			  {{myRestaurant.contact}}
		</div>
		
		<button class="button button-full button-calm" ng-click="showNewShelfModal()">
			Add New Shelf
		</button>
	</ion-content>
</ion-view>

<script id="myshelf.html" type="text/ng-template">
	<div class="modal">
		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">Where To Eat</h1>
			<button class="button button-clear button-positive" ng-click="closeMyShelfModal()">Cancel</button>						
		</ion-header-bar>
			
		<!-- Modal Content Area -->
		<ion-content>
			<div class="item item-text-wrap" padding="true">
				<h3>Would love to upload your restaurant to our news feed?</h3>
				<h3>Just buy us a coffee :)</h3>
			</div>
			
			<div class="padding">
				<button class="button button-block button-positive" ng-click="newRestaurant()">$0.99 only</button>
			</div>
		</ion-content>
	</div>
</script>

<script id="newshelf.html" type="text/ng-template">
	<div class="modal">
		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">Where To Eat</h1>
			<button class="button button-clear button-positive" ng-click="closeNewShelfModal()">Cancel</button>						
		</ion-header-bar>
			
		<!-- Modal Content Area -->
		<ion-content>
			<div class="item item-text-wrap" padding="true">
				<h3>Would like to unlock a new shelf?</h3>
				<h3>Just buy us a coffee :)</h3>
			</div>
			<div class="padding">
				<button class="button button-block button-positive" ng-click="newRestaurant()">$0.99 only</button>
			</div>
		</ion-content>
	</div>
</script>